<Tickets>
  <event name="Goodbye Sachin" date="09/29/2014" time="7.30 p.m." price="17.50"></event>
  <event name="DSP Musical Night" date="10/19/2014" time="7.00 p.m." price="20.00"></event>
  <event name="UHCL Hawks Musical night" date="09/30/2014" time="7.30 p.m." price="17.50"></event>
  <event name="Telugu Association meet" date="10/29/2014" time="7.00 p.m." price="20.00"></event>
  <event name="Dussera Celebrations @ Houston Telugu Center" date="09/29/2014" time="7.30 p.m." price="17.50"></event>
</Tickets>

